<nav class="navbar">
    <div class="wrapper">
        <div class="logo"><a href="#"></a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li>
                <a href="#" class="desktop-item">Dropdown Menu</a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">Dropdown Menu</label>
                <ul class="drop-menu">
                    <li><a href="#">Gestion des objectifs</a></li>
                    <li><a href="#">Gestion des taches</a></li>
                    <li><a href="#">Notifications</a></li>
                    <li><a href="#">Resources et Aide</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="desktop-item">Mega Menu</a>
                <input type="checkbox" id="showMega">
                <label for="showMega" class="mobile-item">Mega Menu</label>
                <div class="mega-box">
                    <div class="content">
                        <div class="row">
                            <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
                        </div>
                        <div class="row">
                            <header>Design Services</header>
                            <ul claass="mega-links">
                                <li><a href="#">Graphics</a></li>
                                <li><a href="#">Vectors</a></li>
                                <li><a href="#">Business cards</a></li>
                                <li><a href="#">Custom logo</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Email Services</header>
                            <ul class="mega-links">
                                <li><a href="#">Personal Email</a></li>
                                <li><a href="#">Business Email</a></li>
                                <li><a href="#">Mobile Email</a></li>
                                <li><a href="#">Web Marketing</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Security services</header>
                            <ul class="mega-links">
                                <li><a href="#">Site Seal</a></li>
                                <li><a href="#">VPS Hosting</a></li>
                                <li><a href="#">Privacy Seal</a></li>
                                <li><a href="#">Website design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">Feedback</a></li>
            <!-- New profile menu icon -->
            <li class="profile-menu">
                <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t1.6435-9/55829096_2346914042254786_3482753181773987840_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Iv2hh3a2LQ0Q7kNvgHU4Uh4&_nc_ht=scontent.ftun1-2.fna&oh=00_AYCWtFgKQTbs7ftCQM25UZS8mPokNWxJ6zSLbJ0vyEcvnw&oe=66A0F07F" alt="Profile Image" class="profile-image">
                <input type="checkbox" id="showProfileMenu">
                <label for="showProfileMenu" class="mobile-item"></label>
                <ul class="profile-drop-menu">
                    <li><a routerLink="">View Profile</a></li>
                    <li><a routerLink="/login">Logout</a></li>
                    <li> <a href="#"> ffff</a></li>
                    <li> <a href="#"> ffff</a></li>
                                        <li> <a href="#"> ffff</a></li>


                </ul>
            </li>
            
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  