body {
    overflow-x: hidden;
  }
  
  #wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh; /* Ensure the wrapper takes full viewport height */
  }
  
  #sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    height: 100%; /* Ensure the sidebar takes full height */
  }
  
  .list-group-item {
    padding: 20px 15px;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .sidebar-footer {
    border-top: 1px solid #444;
    padding: 10px;
    text-align: center;
  }
  
  .sidebar-footer img {
    width: 40px;
    height: 40px;
  }
  
  #page-content-wrapper {
    flex-grow: 1;
    background-color: #f8f9fa;
    padding: 20px;
  }
  