
  <app-navbar></app-navbar>
  <div class="signup-container">
    <div class="signup-card">
      <h1>Sign Up</h1>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" type="text" placeholder="Enter name" aria-label="Name" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" type="email" placeholder="Enter email" aria-label="Email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password"  placeholder="Enter password" aria-label="Password" required />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input id="confirm-password" name="confirm-password" type="password"  placeholder="Confirm password" aria-label="Confirm Password" required />
        </div>
        <button type="submit" class="btn-submit">Sign Up</button>
        <p class="login-link">Already have an account ?<a routerLink="/login"> Login</a></p>
      </form>
    </div>
  </div>