/* Styles for hero section */
.hero-section {
    position: relative;
    background-image: url('https://plus.unsplash.com/premium_photo-1661479545978-0d4c7054d679?q=80&w=2060&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin: 0;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(138, 134, 134, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
}

.hero-content .col-md-6 {
    padding: 20px;
}

.hero-content h1 {
    font-size: 5rem; /* Increased from 4rem */
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    color: azure;
}

.hero-content p {
    font-size: 2.5rem; /* Increased from 2rem */
    color: azure;
}

.hero-content .btn {
    font-size: 2rem; /* Increased from 1.6rem */
    background-color: rgba(57, 56, 54, 0.759);
    border: none;
}
.hero-content .btn:hover {
    background-color: rgba(97, 95, 91, 0.759);
    /* Add any other hover effects or styles you want */
}


.hero-content img.rounded-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for features section */
.features-section {
    background-color: #ffffff;
}

.features-section h2 {
    font-size: 4rem; /* Increased from 3.5rem */
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;

}

.feature-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card .card-body {
    text-align: center;
}

.feature-card .card-title {
    font-size: 2.5rem; /* Increased from 2rem */
    margin-top: 10px;
}

.feature-card .card-text {
    font-size: 2.2rem; /* Increased from 1.8rem */
}

.features-section .btn {
    font-size: 2.2rem; /* Increased from 1.8rem */
}

/* Styles for how it works section */
.how-it-works-section {
    background-color: #f8f9fa;
}

.how-it-works-section h2 {
    font-size: 4rem; /* Increased from 3.5rem */
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.how-it-works-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.how-it-works-card:hover {
    transform: scale(1.05);
}

.how-it-works-card .card-body {
    text-align: center;
}

.how-it-works-card .card-title {
    font-size: 2.5rem; /* Increased from 2rem */
    margin-top: 10px;
}

.how-it-works-card .card-text {
    font-size: 2.2rem; /* Increased from 1.8rem */
}

/* Styles for latest news section */
.latest-news-section {
    background-color: #ffffff;
}

.latest-news-section h2 {
    font-size: 4rem; /* Increased from 3.5rem */
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
   font-weight: bold;
}

.news-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.news-card:hover {
    transform: scale(1.05);
}

.news-card .card-body {
    text-align: center;
}

.news-card .card-title {
    font-size: 2.5rem; /* Increased from 2rem */
    margin-top: 10px;
}

.news-card .card-text {
    font-size: 2.2rem; /* Increased from 1.8rem */
}

.latest-news-section .btn {
    font-size: 2.2rem; /* Increased from 1.8rem */
}

/* Styles for tips section */
.tips-section {
    background-color: #f8f9fa;
}

.tips-section h2 {
    font-size: 4rem; /* Increased from 3.5rem */
    margin-bottom: 20px;
}

.tips-section p {
    font-size: 2.2rem; /* Increased from 1.8rem */
    margin-bottom: 40px;
}

.tip-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.tip-card:hover {
    transform: scale(1.05);
}

.tip-card h5 {
    font-size: 2.5rem; /* Increased from 2rem */
    margin-bottom: 10px;
}

.tip-card p {
    font-size: 2.2rem; /* Increased from 1.8rem */
}

/* Footer styling */
app-footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Adding padding to the bottom of the body to avoid footer overlap */
body {
    padding-bottom: 70px; /* Adjust this value based on your footer height */
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-content img {
        margin-top: 20px;
    }
}
